.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
.swiftpm/
*Generated/
Package.resolved
Tests/SnapshotTests/.__snapshots__/*/documentation*.png


# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache